@model nJoyIt.ViewModels.BookDetailsViewModel

@{
    ViewData["Title"] = Model.Book.Title;
}

<div>
    <div class="d-flex book-box-container">
        <div class="book-box-img">
            <img class="book-img" src="@Model.Book.BookImageUrl" />
        </div>
        <div class="book-box-info">
            <h1>
                @Model.Book.Title
            </h1>
            <div>
                <span>Author</span>
                <span>@Model.Book.Author</span>
            </div>
            <div>
                <span>Genre</span>
                <span>@Model.Book.Genre</span>
            </div>
            <div>
                <span>Publication year</span>
                <span>@Model.Book.PublicationYear</span>
            </div>
            <div>
                <h4 class="sub-title">Description</h4>
                <p>
                    @Model.Book.Description
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex mt-4 reviews-container row m-0">
        <div class="d-flex justify-content-between align-content-center col-12 p-0 mb-3">
            <h4 class="sub-title m-0">Reviews <small>(@Model.Review.Count())</small></h4>
            <a class="btn btn-primary" asp-controller="Review" asp-action="Add" asp-route-bookId="@Model.Book.Id">Add your review</a>
        </div>

        @foreach (var review in Model.Review)
        {
            <div class="col-12 p-0">
                <div class="d-flex">
                    <h5>user0101</h5>
                    <span class="ml-2">
                        @review.ReviewDate.ToShortDateString()
                    </span>
                    <div class="ml-2">
                        rating here
                    </div>
                </div>
                <p>
                    @review.ReviewContent
                </p>
            </div>
        }
    </div>
</div>
