@model nJoyIt.ViewModels.BookDetailsViewModel

@{
    ViewData["Title"] = Model.Book.Title;
}

<div>
    <div class="d-flex book-box-container">
        <div class="book-box-img">
            <img class="book-img" src="@Model.Book.BookImageUrl" />
        </div>
        <div class="book-box-info">
            <h1>
                @Model.Book.Title
            </h1>
            <div>
                <span>Author</span>
                <span>@Model.Book.Author</span>
            </div>
            <div>
                <span>Genre</span>
                <span>@Model.Book.Genre</span>
            </div>
            <div>
                <span>Publication year</span>
                <span>@Model.Book.PublicationYear</span>
            </div>
            <div>
                <span class="sub-title">Description</span>
                <p>
                    @Model.Book.Description
                </p>
            </div>
        </div>
    </div>
</div>
